<template>
  <div class="row">
    <div class="col s12 l4 offset-l4">
      <div class="card">
        <div class="card-content">
          <form @submit.prevent="handleRegisterUser">
            <div class="row">
              <div class="input-field col s12">
                <input v-model="userRegister.username" id="email" type="email" class="validate">
                <label for="email">Username</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input v-model="userRegister.password" id="password" type="password" class="validate">
                <label for="password">Password</label>
              </div>
            </div>
            <div class="row">
              <button class="registerButton waves-effect waves-light btn">Register</button>
            </div>
            <div class="row">
              <a href="/#/login">
                <label>Go back</label>
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      userRegister: {
        username: "",
        password: ""
      }
    };
  },
  methods: {
    handleRegisterUser() {
      this.$emit("handleRegisterUser", this.userRegister);
      this.userRegister.username = "";
      this.userRegister.password = "";
    }
  }
};
</script>

<style>
.registerButton {
  background: #0b47a6;
}
</style>

