<template>
  <div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-content">
          <form @submit.prevent="handleAddTask">
            <div class="row">
              <div class="input-field col s12">
                <input v-model="task.title" placeholder="Title" type="text" class="validate" autofocus  ref="title">
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <textarea
                  v-model="task.description"
                  placeholder="Description"
                  class="materialize-textarea"
                ></textarea>
              </div>
            </div>
            <div class="row">
              <template v-if="edit">
                <button @click="setFocus" class="col s12 waves-effect waves-light btn btn-block">Actualizar</button>
              </template>
              <template v-else>
                <button @click="setFocus" class="col s12 waves-effect waves-light btn btn-block">Enviar</button>
              </template>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["taskToEdit", "edit", "del"],
  watch: {
    taskToEdit: function(newVal) {
      this.task.title = newVal.title;
      this.task.description = newVal.description;
    },
    edit: function() {
      this.$refs.title.focus()
    },
    del: function(){
      this.$refs.title.focus()
      this.$emit("changeDel")
    }
  },
  data() {
    return {
      task: {
        title: "",
        description: ""
      }
    };
  },
  methods: {
    handleAddTask() {
      this.$emit("handleAddTask", this.task);
      this.task.title = "";
      this.task.description = "";
    },
    setFocus(){
      this.$refs.title.focus()
    }
  }
};
</script>



