<template>
  <div class="row">
    <div class="col s12 l4 offset-l4">
      <div class="card">
        <div class="card-content">
          <form @submit.prevent="handleLoginUser">
            <div class="row">
              <div class="input-field col s12">
                <input v-model="username" id="email" type="email" class="validate">
                <label for="email">Username</label>
                <div v-show="submitted && !username">Username is required</div>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input v-model="password" id="password" type="password" class="validate">
                <label for="password">Password</label>
                <div v-show="submitted && !password">Password is required</div>
              </div>
            </div>
            <div class="row">
              <button class="loginButton waves-effect waves-light btn">Login</button>
            </div>
            <div class="row">
              <a href="/#/register">
                <label>Create an Account</label>
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
    <form></form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      username: '',
      password: '',
      submitted: false,
    };
  },
  methods: {
    handleLoginUser() {
      this.submitted = true;

      let {username, password} = this
      // stop here if form is invalid
      if (!(username && password)) {
        return;
      }

      const user = {username, password}
      
      this.$emit("handleLoginUser", user);
      this.username = '';
      this.password = '';
    }
  }
};
</script>

<style>
.loginButton {
  background: #0b47a6;
}
</style>

