<template>
<nav>
    <div class="nav-wrapper blue lighten-2">
      <a href="#" class="brand-logo">MEVN</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a @click="cleanLocalStorage" href="/">Logout</a></li>
      </ul>
 
    </div>
  </nav>
</template>

<script>
export default {
    methods: {
      cleanLocalStorage(){
        localStorage.clear()
      }
    }
}
</script>

