<template>
  <table class="highlight centered">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="task of tasks" :key="task._id">
        <td>{{task.title}}</td>
        <td>{{task.description}}</td>
        <div class="row">
        <td><a @click="handleEditTask(task._id)" class="btn-floating btn-small waves-effect waves-light"><i class="material-icons">edit</i></a></td>
        <td><a @click="handleDeleteTask(task._id)" class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">delete</i></a></td>
        </div>
      </tr>
    </tbody>
  </table>
</template>

<script>
export default {
  props: {
    tasks: {
      type: Array
    }
  },
  methods: {
    handleEditTask(id){
      console.log(id)
      this.$emit('handleEditTask', id)
    },
    handleDeleteTask(id){
      this.$emit('handleDeleteTask', id)
      console.log(id)
    }
  }
};
</script>

