<template>
  <div id="login">
    <div class="container">
      <div class="row center-align">
        <div class="loginForm">
          <h3>LOGIN</h3>
          <CardLogin v-on:handleLoginUser="loginUser($event)"/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import CardLogin from "./components/CardLogin.vue";
export default {
  components: {
    CardLogin: CardLogin
  },
  data() {
    return {};
  },
  methods: {
    loginUser(user) {
      fetch("/users/" + user.username + "/" + user.password)
        .then(res => res.json())
        .then(data => {
          console.log(data);
          if (data.length === 0) {
            console.log("usuario incorrecto");
          } else {
            console.log("usuario correcto");
            localStorage.setItem('user', JSON.stringify(data)); 
            location.href = '/#/index'
            
          }
        });
    }
  }
};
</script>

<style>
#login {
  background: #0b47a6;
  background-size: cover;
}
.loginForm {
  padding-top: 170px;
  padding-bottom: 345px;
}
</style>


