<template>
  <div>
    <Header/>
    <div class="container">
      <div class="row">
        <div class="col l5">
          <br>
          <CardTodo
            v-on:handleAddTask="addTask($event)"
            :taskToEdit="taskToEdit"
            :edit="edit"
            :del="del"
            v-on:changeDel="changeDel()"
          />
        </div>
        <div class="col l7">
          <TableInfo
            :tasks="tasks"
            v-on:handleEditTask="editTask($event)"
            v-on:handleDeleteTask="deleteTask($event)"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Header from "./components/Header.vue";
import CardTodo from "./components/CardTodo.vue";
import TableInfo from "./components/TableInfo.vue";

export default {
  components: {
    Header: Header,
    CardTodo: CardTodo,
    TableInfo: TableInfo
  },
  data() {
    return {
      tasks: [],
      taskToEdit: [],
      edit: false,
      del: false
    };
  },
  created() {
    this.getTasks();
  },
  methods: {
    getTasks() {
      fetch("/tasks")
        .then(res => res.json())
        .then(data => {
          this.tasks = data;
        });
    },
    addTask(task) {
      if (this.edit) {
        // Se actualiza una tarea
        console.log(this.taskToEdit._id);
        fetch("/tasks/" + this.taskToEdit._id, {
          method: "PUT",
          body: JSON.stringify(task),
          headers: {
            Accept: "application/json",
            "Content-type": "application/json"
          }
        })
          .then(res => res.json())
          .then(data => {
            console.log(data);
            this.getTasks();
          });
        this.edit = false;
      } else {
        // Se agrega una tarea
        fetch("/tasks", {
          method: "POST",
          body: JSON.stringify(task),
          headers: {
            Accept: "application/json",
            "Content-type": "application/json"
          }
        })
          .then(res => res.json())
          .then(data => {
            console.log(data);
            this.getTasks();
          });
      }
    },
    editTask(id) {
      fetch("/tasks/" + id)
        .then(res => res.json())
        .then(data => {
          this.taskToEdit = data;
          this.edit = true;
        });
    },
    deleteTask(id) {
      fetch("/tasks/" + id, {
        method: "DELETE",
        headers: {
          Accept: "application/json",
          "Content-type": "application/json"
        }
      })
        .then(res => res.json())
        .then(data => {
          console.log(data);
          this.getTasks();
          this.del = true;
        });
    },
    changeDel() {
      this.del = false;
    }
  }
};
</script>

