<template>
  <div id="register">
    <div class="container">
      <div class="row center-align">
        <div class="registerForm">
          <h3>REGISTER</h3>
          
          <CardRegister v-on:handleRegisterUser="registerUser($event)"/>
        </div>
      </div>
    </div>

  <!-- Success Modal Structure -->
  <div id="registerSuccessModal" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Success!</h4>
      <p>You are now a user of MEVN TODOAPP</p>
    </div>
    <div class="modal-footer">
      <a href="#/login" class="modal-close waves-effect waves-green btn-flat">Got it!</a>
    </div>
  </div>
  </div>
</template>

<script>
import CardRegister from "./components/CardRegister.vue";
export default {
  components: {
    CardRegister: CardRegister
  },
  data() {
    return {};
  },
  methods: {

    registerUser(user) {
      fetch("/users", {
        method: "POST",
        body: JSON.stringify(user),
        headers: {
          Accept: "application/json",
          "Content-type": "application/json"
        }
      })
        .then(res => res.json())
        .then(data => {
          console.log(data);
        $('.modal').modal('open');
        });
    }
  }
};
</script>

<style>
#register {
  background: #0b47a6;
  background-size: cover;
}
.registerForm {
  padding-top: 170px;
  padding-bottom: 345px;
}
</style>


